@media screen and (min-width: 768px){
    #header {
        height: 150px;
        display: grid;
        justify-content: space-around;
    }
    #header .header__logo img {
        width: 25vmax;
        height: auto;
    }
    body {
        display: grid;
        background-color:#032CA6;  
        background-image: url(../Img/fondomobile.jpg);  
        background-size: cover;
        background-repeat: no-repeat;
    }
    .header__logo{
        display: flex;
        justify-content: center;
    }
    .header__logo img {
        max-width: 300px;
    }
    #footer a{
        text-decoration: none;
        font-family: sans-serif;
        color: black;
    }
    #footer .footer__team {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    #footer .footer__team .footer__social {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 50%;
        justify-content: space-evenly;
    }
    #footer .footer__team .footer__social .persona0, .persona1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .persona0 img, .persona1 img {
        max-width: 40%;
        height: auto;
    }
    /* MediaQ para page .Cusos/gratis */
    #contenedor {
        display: grid;
        justify-items: center;
    }
    /* Anulamos el desplegable para Mobile */
    #header .header__menu ul li:hover ul {

        display: none;
    }    
    /* Bootstrap core CSS */
     @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
}
