* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
$width: 100%;
$colorHover: #303F3C;
$colorFuente: #000000;
$gradiente1: linear-gradient(325deg,rgb(231, 213, 242) 0%, rgb(175, 169, 217) 52%,rgb(117, 115, 191) 100%);
$gradiente2: linear-gradient(180deg, rgba(117,115, 191, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
$colorLogo1:#7573BF;
$colorLogo2:#E7D5F2;
$colorLogo3:#AFA9D9;
$font:'Cabin', sans-serif;
$fontBoton:#ffff;
$fontSize: 1.3rem;

%childContacto {
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1.25rem;
    margin: 5px;
}
%displayFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Seguir Mixin a los botones del formulario */
@mixin botones($ancho, $alto, $color) {
    width: $ancho;
    height: $alto;
    background-color: $color;
    border: 1px solid $color;
    border-radius: 1.25rem;
    text-align: center;
    color: $fontBoton;
    margin: 5px;
    font-family: $font;
    font-size: $fontSize;
	text-decoration: none;
	vertical-align: middle;
	padding: 0.375rem 0.75rem;
} 
@mixin back__texto ($color__fondo, $color__fuente,$font__size) {
    background: $color__fondo;
    color: $color__fuente;    
    font-size: $font__size;
    padding: 1rem;
    text-align: center;
}
.deseo {
    align-items: center;
    position: relative;
    display: flex;
    justify-content: space-around;
    img{
        max-width: 100vw;
        max-height: 50vh;
    }
    .img__entrada{
        position: relative;
        display: inline-block;
        text-align: center;
        width: 100%;
        .texto__entrada{
            position: absolute;
            top: 0%;
            right: 0%;
            left: 0%;
            background: $gradiente2;
            h2 {
                font-size: 30px;
                font-family: $font;
                span {
                    color: green;
                }
            }

        }
    }
}

.boton{
	@include botones(200px,45px,$colorLogo1)
}
.centro{
    .nosotros{
        @include back__texto($gradiente1, $fontBoton, $fontSize);
        max-height: 260px;
    }
}
.centro__oculto{
    display: none;
}
.header__logo {
    width: 100px;
}
.cards__responsive{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.footer{
    @extend %displayFooter;
    margin-bottom: 0;
    .footer__logo{
        padding: 1rem;
        img {
            width: 8rem;
        }
    }
    .footer__contacto{
        @extend %displayFooter
    }
    div{
        h5 {
        padding: 1rem;
        }   
    }

}
.footer .footer__contacto a:nth-child(1) {
    @extend %childContacto;
	background-image: url(../Img/Web-logo.png);
}
.footer .footer__contacto a:nth-child(2) {
    @extend %childContacto;
	background-image: url(../Img/whatsapp-logo.png);
}
.footer .footer__contacto a:nth-child(3) {
    @extend %childContacto;
	background-image: url(../Img/Discord.png); 
}
/* cards found */
.col .card .card-img-top{
    max-height: 183px;
    max-width: 179px;
}
.card{
    align-items: center;
}
.card-text.p1{
    margin-bottom: 14px;
    margin-top: 75px;
}
.col .card .imgX2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}
/* solution extras */
.gradiente{
    background: $gradiente2;
}
.process .img__solution0 {
    text-align: center;
}
.process .img__solution1 img {
    display: none;
    width: 80%;
}
/* gratis.html */
.pag__internas{
    @extend %displayFooter;
    .contenedor__boton{
        @include botones(250px,50px ,$colorLogo1 );
        align-items: center;
        a {
            text-decoration: none;
            color: #000000;
        }
        
    }
}
.youtube {
    @extend %displayFooter;
}
/* Recomendados */
.gradiente .img__promo img {
    height: 20vh;
}