$width: 100%;
$ancho: 200px;
$colorHover: #303F3C;
$colorFuente: #000000;
$colorFondo: rgb(249, 247, 248);
$colorLogo1:#7573BF;
$colorLogo2:#E7D5F2;
$colorLogo3:#AFA9D9;

%childContacto {
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px;
    margin: 10px;
}
%displayFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Seguir Mixin a los botones del formulario */
@mixin botones($ancho, $alto, $color) {
    width: $ancho;
    height: $alto;
    background-color: $color;
    border-radius: 5%;
    text-align: center;
    margin: 5px;
    font-family: sans-serif;
  } 
header{
    nav{
        div{
            a{
                img{
                    width: $ancho;
                }
            }
        }
    }
}
#formulario {
    @extend %displayFooter;
    max-width: $width;
    
    fieldset {
        @extend %displayFooter;      
        flex-wrap: wrap;
        align-content: center;
        
    }
    .contenedor__boton {
        .boton {
            @include botones(200px,40px,$colorLogo1)
        }
    }
}

#footer {
    background-color: $colorFondo;
    height: 16vmax;
    justify-content: space-evenly;
    display: flex;
    align-items: baseline;
    a{
    text-decoration: none;
	font-family: sans-serif;
	color: $colorFuente;
    }
    a:hover{
        color: $colorHover;
    }
    h5 {
        margin-bottom: 10px;
    }
    .footer__social{
        @extend %displayFooter;
        .persona0 img, .persona1 img{
            max-width: 40%;
	        height: auto;

        }

    }
    .footer__team{
        @extend %displayFooter;        
    }
    .footer__link{
        @extend %displayFooter;
    }
    .footer__contacto{
        h5{
            margin: 20px;
             text-align: center;
        }
        a:nth-child(1) {
            @extend %childContacto;
            background-image: url(../Img/Web-logo.png);
           
        }
        a:nth-child(2) {
            @extend %childContacto;
            background-image: url(../Img/whatsapp-logo.png);
            
        }
        a:nth-child(3) {
            @extend %childContacto;
            background-image: url(../Img/Discord.png);
           
        }
    }


}
