.GRID {
     display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    height: 90vh;
    grid-template-areas:/*  DE A1-A4 HASTA B1-B3 */
        "A2 A1 A1"
        "A3 A1 A1"
        "A4 B1 B2";
}

.java, .phyton, .NET, .nodeJS, .js, .aws, .Other {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;   
    background-repeat: no-repeat;
    background-size: contain;
}
.java {
    grid-area: A1;
    background-image: url(../Img/19362653.jpg); 
}
.phyton {
    grid-area: A2;
    background-image: url(../Img/19362653.jpg); 
}
.NET{
    grid-area: A3;
    background-image: url(../Img/19362653.jpg); 
}
.nodeJS {
    grid-area: A4;
     background-image: url(../Img/19362653.jpg); 
}
.js {
    grid-area: B1;
    background-image: url(../Img/19362653.jpg); 
}
.aws {
    grid-area: B2;
    background-image: url(../Img/19362653.jpg); 
}
.Other {
    grid-area: B3;
    background-image: url(../Img/19362653.jpg); 
}
.GRID a {
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    color:#303F3C;
}

