* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
#header {
	background-color: #F9F7F8;
	padding: 10px;
	height: 60px;
	display: flex;
	justify-content: space-around;
	text-align: center;
	align-items: center;
	position: sticky;
	top: 0;
}
#header .header__logo img{
	width: 11vmax;
	height: auto;
}
#header .header__menu ul{
	display: flex;
	list-style: none;
	font-size: 1rem;
    font-weight: 600;
}
#header .header__menu ul li a {
	text-decoration: none;
	border: 2px solid #B9A799;
	border-radius: 35px;
	padding: 10px;
	margin: 0 20px;
	color: #303F3C;
	background-color: #F9F7F8;
}
#header .header__menu ul li a:hover {
	background-color: #303F3C;
	color: #B9A799;
}
#header .header__menu ul li ul{
	display: none;
	position: absolute;
	top: 50px;
	bottom: 100px;
	padding: 10px;
	margin: 10px;
	transition: 2s;
}
#header .header__menu ul li:hover ul{
	display: block;
	margin: 12px;	
}
#header .header__menu ul li ul li {
	margin-bottom: 23px;
	font-size: 1rem;
	text-align: left;
}
#menuBody a{
	text-decoration: none;
}
/* botones del body */
/* p {
	border:2px solid #303F3C;
	border-radius: 15px;
	text-align: center;
	color: #303F3C;
	background-color: #F9F7F8;
	font-size: 2rem;
	text-decoration:none;
	width: 22vmax;
	padding: 10px;
	margin-bottom: 10px;
} */
#menuBody {
	display: flex;
    height: 100vh;
    background-image: url(../Img/pexels-tranmautritam-251225.jpg);
    background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#menuBody .Image__fondo{
	position: relative;
}
#menuBody .Solution p:hover {
	background-color: #303F3C;
	color: #F9F7F8;
}
#menuBody .Found p:hover {
	background-color: #303F3C;
	color: #F9F7F8;
}
/* Comienza Pie de página */
#footer {
    background-color: rgb(249, 247, 248);
    height: 16vmax;
    justify-content: space-evenly;
    display: flex;
    align-items: baseline;
}
#footer a{
	text-decoration: none;
	font-family: sans-serif;
	color: black;
}
#footer a:hover {
	color: #303F3C;
}

#footer h5{
	margin-bottom: 10px;
}
/* CSS Imagen del Footer */
.persona0 img, .persona1 img {
	max-width: 40%;
	height: auto;
}
#footer .footer__team {
	display: flex;
    flex-direction: column;
    align-items: center
}
#footer .footer__team .footer__social {
	display: flex;
    flex-direction: column;
    align-items: center;
}
#footer .footer__link {
	display: flex;
    flex-direction: column;
    align-items: center
}
#footer .footer__contacto h5 {
	margin: 20px;
    text-align: center;
}
#footer .footer__contacto a:nth-child(1) {
	background-image: url(../Img/Web-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px;
    margin: 10px;
}
#footer .footer__contacto a:nth-child(2) {
	background-image: url(../Img/whatsapp-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px;
    margin: 10px;
}
#footer .footer__contacto a:nth-child(3) {
	background-image: url(../Img/Discord.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px;
    margin: 10px;
}
#formulario {
	max-width: 500px;
}
#formulario fieldset {
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: baseline;
}
/* Solo para el cuerpo de Estadisticas */
#pag__internas iframe{
	margin-left: 10%;
	width: 80vmax;
	height: 50vmax;
}
/* Solo para Cursos Gratis */
#pag__internas a{
	border:2px solid #303F3C;
	border-radius: 15px;
	text-align: center;
	color: #303F3C;
	background-color: #F9F7F8;
	font-size: 1rem;
	text-decoration:none;
	padding: 10px;
}
#pag__internas a:hover{
	background-color: #303F3C;
	color: #F9F7F8;
}

#pag__internas {
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#contenedor {
	display: flex;
    justify-content: space-around;
}
